:root {
    --outer-border-radius: 8px;
    --inner-border-radius: 4px; /* TODO: compute */
    --gray: #afafaf;
    --black: #0a0a0a;
    --white: #fefefe;
    --button-size: 32px;
    --base-border: 2px solid;
    --space-1: 4px;
    --space-2: 8px;
    --z-index-0: 0;
    --z-index-1: 100;
    --z-index-2: 200;
}

.editor {
    position: relative;
    border: var(--base-border) transparent;
    padding: var(--space-2);
    border-radius: var(--outer-border-radius);
}

.editor.editor--editable {
    background: var(--white);
    color: var(--black);
    border: var(--base-border) var(--black);
    padding: var(--space-1);
    border-radius: var(--outer-border-radius) var(--outer-border-radius) 0;
}

.editor .editor__top-row {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.editor.editor--static:hover {
    border: var(--base-border) var(--gray);
}

.editor.editor--static:hover .editor__top-row {
    opacity: 1;
}

.editor.editor--editable .editor__bottom-row {
    opacity: 1;
}

.editor .editor__bottom-row {
    z-index: var(--z-index-2);
    position: absolute;
    bottom: calc(var(--button-size) * -1 - var(--space-2));
    right: 0;
    background: var(--white);
    padding: var(--space-1);

    opacity: 0;
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    width: 72px;
    border-radius: 0 0 var(--outer-border-radius) var(--outer-border-radius);
}

.control {
    height: var(--button-size);
    width: var(--button-size);
    display: inline-block;
    padding: 0;

    font-size: 1vmin;
    text-align: center;

    background: var(--gray);
    border: none;
    border-radius: 0 0 0 var(--inner-border-radius);
    cursor: pointer;
}