.fab {
    position: fixed;
    padding: 16px;
    font-size: 2vmin;
    border-radius: 40px;
    border: none;
    display: block;
    height: 64px;
    width: 64px;
    cursor: pointer;
    right: 40px;
    bottom: 40px;
}

.fab--login {
    background: beige;
}

.fab--logged {
    background: lightgreen;
    display: block;
    padding: 0;
    overflow: hidden;
}

.fab--logged .fab__avatar {
    height: 100%;
    width: 100%;
}

.dialog {
    height: 20vh;
    width: 40vw;
    text-align: center;
    box-shadow: 0 0 0 2000px rgba(0,0,0,.6);
    z-index: 9999999;
}